<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">Report_template create</h1>

        <%= form_for @report_template do |f| %>

          <div class="field">
            <%= f.label :report_template_name %><br />
            <%= f.text_field :report_template_name, autofocus: true %>
          </div>

          <% if logged_in? %>
            <div class="actions">
              <%= f.submit "Report_templateを作成" %>
            </div>
          <% end %>

        <% end %>

      </div>
    </div>
  </div>
</div>
